/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --primary_color: #ffffff;
    --btn_color: #f4d100;
    --btn_hover: #a9bf00;
}

/*****************************************************
CSS "PHP ToDo List JSON"
*****************************************************/

body {
    background-image: url("../img/braies.jpg");
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
}

#wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#list_container {
    width: 700px;
    margin-top: 1rem;
    padding: 85px 75px;
    border-radius: 15px;
    background-color: rgba(7, 7, 7, 0.5);
}

h1,
h2,
h3,
h4,
li {
    color: var(--primary_color);
}

#options {
    width: 80%;
    padding-top: 2rem;
    cursor: pointer;
}

.fa-solid {
    font-size: 15px;
    color: var(--primary_color);
}

.btn {
    background-color: var(--btn_color);
    font-size: 9px;
}

.btn:hover {
    background-color: var(--btn_hover);
}

.input-group {
    width: 80%;
}

.fa-person-hiking {
    font-size: 50px;
}