/*****************************************************
CSS GENERAL
*****************************************************/
/*****************************************************
CSS SITE "PHP ToDo List JSON"
*****************************************************/
#wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}